.panda-information{
background-color: #fceae8;
}
.panda-button{

    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
}